.sidebarBgColor {
    background-color: #08031b !important;
    color: #fff !important;
    height: 100%;
}

.sidebarPadding {
    padding: 1.5rem 1rem !important;
}

.secdesk_logo{
    width: calc((100vw / 1920) * 175);
    height: calc((100vw / 1920) * 47.55);
}

.secdesk_micro_logo{
    width : calc((100vw / 1920) * 47.55);
    height : calc((100vw / 1920) * 47.55);
}

.logo {
    height: auto;
    width: auto;
    padding-left: calc((100vw / 1920) * 16);
    padding-top: calc((100vw / 1920) * 8);
    padding-bottom: calc((100vw / 1920) * 8);
    padding-right: calc((100vw / 1920) * 16);
    margin-top: calc((100vw / 1920) * 16) ;
    margin-bottom: calc((100vw / 1920) * 16);
    display: grid;
    grid-template-columns: 1fr;
}

.sidebar {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: calc((100vw / 1920) * 300);
    /* padding: calc((100vw / 1920) * 16); */
    gap: calc((100vw / 1920) * 10);
}

.sideBarItemDiv {
    display: grid;
    grid-template-rows: auto ;
    gap: calc((100vw / 1920) * 20);  
    padding: calc((100vw / 1920) * 10) 0;  
    align-items: center;
    overflow-y: auto;
    height: 100%;
    align-items: self-start;
}

.sideBarItems {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc((100vw / 1920) * 10);  
    align-items: center;
    /* padding: 8px; */
    border-radius: calc((100vw / 1920) * 10);
    transition: background-color 0.3s; 
}

.sideBarItem{
    display: grid;
    gap: calc((100vw/1920)*10);
    grid-template-columns: auto;
    font-size: calc((100vw/1920)*20);
}

.sidebarOpen{
    display: flex;
    align-items: center;
    gap: calc((100vw/1920)*20);
    height: calc((100vw/1920)*71);
    /* width: fit-content; */
    padding: calc((100vw/1920)*27);
    font-size: calc((100vw/1920)*20);
    border-top: 1px solid #3c50e0;
    cursor: pointer;
}

.sidebarOpenImg{
    height: calc((100vw/1920)*22);
    width: calc((100vw/1920)*27.5);
}